
@font-face {
    font-family: 'tt_hoves_pro_trialthin_italic';
    src: url('../fonts/tt_hoves_pro_trial_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialthin';
    src: url('../fonts/tt_hoves_pro_trial_thin-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialXLtIt';
    src: url('../fonts/tt_hoves_pro_trial_extralight_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_extralight_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialextralight';
    src: url('../fonts/tt_hoves_pro_trial_extralight-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialhairlineIt';
    src: url('../fonts/tt_hoves_pro_trial_hairline_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_hairline_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialhairline';
    src: url('../fonts/tt_hoves_pro_trial_hairline-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialitalic';
    src: url('../fonts/tt_hoves_pro_trial_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialLtIt';
    src: url('../fonts/tt_hoves_pro_trial_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_triallight';
    src: url('../fonts/tt_hoves_pro_trial_light-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialMdIt';
    src: url('../fonts/tt_hoves_pro_trial_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialmedium';
    src: url('../fonts/tt_hoves_pro_trial_medium-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialregular';
    src: url('../fonts/tt_hoves_pro_trial_regular-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on January 31, 2023 */



@font-face {
    font-family: 'tt_hoves_proBdoutlineIt';
    src: url('../fonts/tt_hoves_pro_bold_outline_trial_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_bold_outline_trial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_probold_outline';
    src: url('../fonts/tt_hoves_pro_bold_outline_trial-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_bold_outline_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialBlkIt';
    src: url('../fonts/tt_hoves_pro_trial_black_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialblack';
    src: url('../fonts/tt_hoves_pro_trial_black-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialbold_italic';
    src: url('../fonts/tt_hoves_pro_trial_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialbold';
    src: url('../fonts/tt_hoves_pro_trial_bold-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialdemiBdIt';
    src: url('../fonts/tt_hoves_pro_trial_demibold_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_demibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialdemibold';
    src: url('../fonts/tt_hoves_pro_trial_demibold-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialXBdIt';
    src: url('../fonts/tt_hoves_pro_trial_extrabold_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_hoves_pro_trialextrabold';
    src: url('../fonts/tt_hoves_pro_trial_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/tt_hoves_pro_trial_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}