$primary-color:#111;
$primary-color-100:#267dff4d;
$primary-color-contrast:#fff;
$secondary-color:#d9d9d9;
$black-color:#444;
$gray-color-100:#f9f9f9;
$gray-color-200:#e3e3e3;
$gray-color-300:#aaa;
$red-color:#880808;
$yellow-color:#E29E19;
$white-color:#fff;




$font-family-extralight:'tt_hoves_pro_trialextralight';
$font-family-regular:'tt_hoves_pro_trialregular';
$font-family-medium:'tt_hoves_pro_trialmedium';
$font-family-bold:'tt_hoves_pro_trialbold';
$font-family-semi-bold:'tt_hoves_pro_trialdemibold';


// New Variables 
$black-color:#232A2F;
$blue-color:#3083F0;
$blue-color-1:#1b4f93;
$blue-color-2:#00bbf9;
$border-color-1:#8a969f;
$border-color-2:#e7ebef;
$border-color-3:#f2f3f5;
$table-color:#fafafa;
$table-color-1:#f5f5f5;
$caption-color-1:#5e6971;
$active-color:#7FF000;
$grey-color:#E7EBEF;
$red-color:#CC0000;
$orange-color:#F35B04;
$orange-color-1:#F95932;
$green-color:#57CC99;
$graph-color-1:#F95932;
$graph-color-2:#3083F0;
$graph-color-3:#57CC99;
$graph-color-4:#9B5DE5;
$graph-color-5:#F15BB5;
